@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');


@layer base {

--text:#a8b0cb; /* Grey */
--shadow:#8892b0; /* White */

    body {
        @apply font-[Raleway];
    }
    li {
        @apply px-4;
        @apply cursor-pointer
    }
    .invert {
        filter: invert;
    }

    .bg-gradient  {
        background: linear-gradient(-45deg, #CE6A6B, #EBACA2, #BED3C3, #4A919E, #212E53);     
    }

    .text-shadow {
        text-shadow: 0 0 0.5em #e5e7eb;
    }

    .items-center {
        justify-items: center;
    }

    .splash {
        position: relative;
        width: 100%;
        max-width: 150px;
        height: 150px;
        border-radius: 50%;
        box-shadow: inset 20px 20px 20px rgba(0,0,0,0.05),
        25px 35px 20px rgba(0,0,0,0.05),
        25px 30px 30px rgba(0,0,0,0.05),
        inset -20px -20px 25px rgba(255,255,255,0.9);
        transition: 0.5s ease-in-out;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }


    .splash:hover {
        border-radius: 50%;
    }

    .splash::before {
        content:'';
        position: absolute;
        top: 25px;
        left: 20px;
        width: 15px;
        height: 15px;
        background: #fff;
        border-radius: 50%;
        opacity: 0.9;
    }

    .splash::after {
        content:'';
        position: absolute;
        top: 35px;
        left: 15px;
        width: 5px;
        height: 5px;
        background: #fff;
        border-radius: 50%;
        opacity: 0.9;
    }

    .splash .content{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        padding: 40px;
        gap: 15px;
    }

    .splash .content .icone {
        position: relative;
        width: 50px;
        height: 50px;
        background: #eff0f4;
        border-radius: 50%;
        box-shadow: inset 2px 5px 10px rgba(0,0,0,0.1),
        inset -2px -5px 10px rgba(255,255,255,1),
        15px 15px 10px rgba(0,0,0,0.05),
        15px 10px 15px rgba(0,0,0,0.025);
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;       
    }

    .splash .content p {
        position: relative;
        padding: 10px 25px;
        color: #fff;
        border-radius: 25px;
        font-size: 10px;
        font-weight: 500;
        text-shadow: 0 2px 2px rgba(0,0,0,0.25);
        opacity: 0.75;
        transition: 0.5s;     
    }

    .splash .content p:hover {
        opacity:1
    }

    .splash .content p::before {
        content:'';
        position: absolute;
        top: 8px;
        left: 50%;
        transform: translateX(-50%);
        width: 65%;
        height: 5px;
        border-radius: 5px;
        background: rgba(255,255,255,0.5);
    }

    .card {
   
   
    background: rgba(255,255,255,0.5);
    backdrop-filter: blur(20px);
    
    
    border-radius: 20px;
    border: 1px solid rgba(255,255,255,0.2);
    box-shadow: 5px 5px 30px rgba(0,0,0,0.1);
    transition: 0.5s ease-in-out;
    
    }

}


